.file {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  z-index: 1;
  color: var(--text-main);
  transition: color var(--transition-slow);
  transition: fill var(--transition-slow);
  fill: var(--fg-main);
}

.file:hover {
  background-color: var(--icon-hover-color);
}

.file.selected {
  border: 1px dashed var(--text-main);
}

.file p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: var(--text-main)
}

.file-icon {
  box-shadow: 4px 4px var(--border-primary);
}
