.folder {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  color: var(--text-main);
  fill: var(--folder-color-icon);
  transition: color var(--transition-slow);
  transition: fill var(--transition-slow);
}

.folder:hover {
  background-color: var(--icon-hover-color);
}

.folder.selected {
  border: 1px dashed var(--text-main);
}

.folder-icon {
  box-shadow: 4px 4px var(--border-primary);
}