.opened-file {
  box-shadow: 4px 4px var(--border-primary);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: var(--border-width-thick) solid var(--border-primary);
  box-sizing: border-box;
  z-index: 2;
  background-color: var(--fg-main);
  transition: var(--transition-slow);
}

/* 
.dragging.opened-file  {
  border: var(--border-width-thick) solid var(--secondary-color-variant-1);
} */

.opened-file-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-bottom: var(--border-width-thick) solid black;
  height: 2.8em;
  box-sizing: border-box;
  transition: var(--transition-slow);
  z-index: 10;
}

.opened-file-header-title {
  font-size: 1.2em;
  font-weight: 500;
  box-sizing: border-box;
}

.dragging .opened-file-header {
  background-color: var(--secondary-color-variant-1);
  transition: none;
}

.opened-file-header-buttons {
  display: flex;
}

.opened-file-header-buttons button {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8em;
  height: 1.8em;
  border: none;
  box-sizing: border-box;
  padding: 0;
  /* stroke-width: 100px; */
}

.opened-file-header-buttons button:hover {
  /* color: var(--text-muted); */
  backdrop-filter: contrast(0.8) brightness(1.2);
  border-radius: 8px;
}

/* .opened-file-header-buttons button:active {
  color: var(--text-muted);
} */

.opened-file-header-buttons button:disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.opened-file-header-buttons button:nth-child(3) {
  margin-left: 10px;
}

.opened-file-content {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .opened-file {
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    box-shadow: none;
    position: absolute;
  }

  .opened-file-header-title {
    overflow: hidden;
    text-overflow:ellipsis;
    text-wrap: nowrap;
    margin-right: 2em;
  }
  
  .opened-file-header-buttons button:disabled {
    opacity: 0.5 !important;
    cursor: default !important;
  }
}